/**
 * @name Hide Buttons
 * @version 2.0.0
 * @author G2_Games
 * @description Remove buttons and stuff that I find annoying.
 * @source https://github.com/G2-Games/discord_themes
 * @donate https://ko-fi.com/g2_games
 * @website https://g2games.dev
**/

/* Hide Nitro gift button */
button[aria-label="Send a gift"] {
    display: none;
}

/* Hide sticker picker button */
div:has(> button[aria-label="Open sticker picker"]) {
    display: none;
}

/* Hide Apps button and annoying glow */
button[aria-label*="Apps"], div[aria-label*="Apps"] {
    display: none;
    height: 0;
}

div[class^="appLauncherGlow"] {
    display: none;
    width: 0;
    height: 0;
}

/* Hide shop button */
a[href^="/shop"] {
    display: none;
}

/* Hide help button */
a[href="https://support.discord.com"]  {
    display: none;
}

/* Hide nitro button, disabled by default because managing nitro is actually
 * pretty important to be able to do
**/
a[href="/store"]  {
    display: none; /* Change this to `none` to hide */
}


/***** MESSAGE & MENU STUFF *****/

/*
 * Hide emoji when hovering over a message.
 * This selector hides buttons with labels containing the text below, and the
 * separator between the previous and other buttons
**/
div[class*="popoverReactionHoverBar"] div[aria-label^="Click to react with"],
    div[class*="popoverReactionHoverBar"] div[class^="separator"],
    div[id*="message-actions-quickreact"]
{
    display: none;
}

/* Hide various buttons in the right click context menu */
div#message-actions-apps, div#message-actions-tts,
div#message-tts, div#message-apps{
    display: none;
}

/* Remove quick react emoji */
div:has(> div[id*="message-quickreact"]), div:has(> div[id*="message-actions-quickreact"]) {
    display: none;
}

/* Hide forwarding buttons */
div[aria-label*="Forward"], button[aria-label*="Forward"], div#message-actions-forward, div#message-forward {
    display: none;
}

/* Remove server button things at the bottom of the sidebar */
ul[data-list-id="guildsnav"] > div:nth-child(2) > div > div:nth-last-child(-n + 3) {
    display: none;
}

/* Remove separators in message right click menu */
div[aria-label="Message Actions"] div[role="separator"] {
    display: none;
}
