/**
 * @name Hide Buttons
 * @version 1.1.4
 * @author G2_Games
 * @description Remove buttons and stuff that I find annoying.
 * @donate https://ko-fi.com/g2_games
 * @website https://g2games.dev
**/

/* Hide Nitro gift button */
button[aria-label="Send a gift"] {
    display: none;
}

/* Hide sticker picker button */
button[aria-label="Open sticker picker"] {
    display: none;
}

/* Hide Apps button */
button[aria-label="Apps"] {
    display: none;
}

/* Hide shop button */
a[href="/shop"] {
    display: none;
}

/* Hide help button */
a[href="https://support.discord.com"]  {
    display: none;
}

/* Hide nitro button, disabled by default because managing nitro is actually
 * pretty important to be able to do
**/
a[href="/store"]  {
    display: inherit; /* Change this to `none` to hide */
}

/*
 * Hide emoji when hovering over a message.
 * This selector hides buttons with labels containing the text below, and the
 * separator between the previous and other buttons
**/
div[class*="popoverReactionHoverBar"] div[aria-label^="Click to react with"],
    div[class*="popoverReactionHoverBar"] div[class^="separator"]
{
    display: none;
}

/* Hide forwarding buttons */
div[aria-label="Forward"], div#message-forward {
    display: none;
}

/* Hide forwarding link on images */
div[aria-label="Media Viewer Modal"] div[class^="optionsContainer"] div[class*="forward"] {
    display: none;
}

/* Hide server sidebar discover button */
ul[data-list-id*="guildsnav"] {
    div[class^="footer"] {
        display: none;
    }

    div[class^="unreadMentionsIndicatorBottom"] {
        bottom: 0;
    }
}
