/**
 * @name Hide Buttons
 * @version 1.1.5
 * @author G2_Games
 * @description Remove buttons and stuff that I find annoying.
 * @source https://github.com/G2-Games/discord_themes
 * @donate https://ko-fi.com/g2_games
 * @website https://g2games.dev
**/

/* Hide Nitro gift button */
button[aria-label="Send a gift"] {
    display: none;
}

/* Hide sticker picker button */
button[aria-label="Open sticker picker"] {
    display: none;
}

/* Hide Apps button */
button[aria-label*="Apps"], div[aria-label*="Apps"] {
    display: none;
}

/* Hide shop button */
a[href^="/shop"] {
    display: none;
}

/* Hide help button */
a[href="https://support.discord.com"]  {
    display: none;
}

/* Hide nitro button, disabled by default because managing nitro is actually
 * pretty important to be able to do
**/
a[href="/store"]  {
    display: none; /* Change this to `none` to hide */
}

/*
 * Hide emoji when hovering over a message.
 * This selector hides buttons with labels containing the text below, and the
 * separator between the previous and other buttons
**/
div[class*="popoverReactionHoverBar"] div[aria-label^="Click to react with"],
    div[class*="popoverReactionHoverBar"] div[class^="separator"],
    div[id*="message-actions-quickreact"]
{
    display: none;
}

/* Hide Apps button in message context menu */
div#message-actions-apps {
    display: none;
}

/* Hide Speak Message button */
div#message-actions-tts {
    display: none;
}

/* Hide forwarding buttons */
div[aria-label="Forward"], div#message-actions-forward {
    display: none;
}

/* Hide forwarding link on images */
div[aria-label="Media Viewer Modal"] button[aria-label*="Forward"] {
    display: none;
}
